body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

.calculator {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 1.5em;
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 1.2em;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  transition: background-color 0.3s, transform 0.2s ease-in-out; /* Added transition for scale */
}

button:hover {
  background-color: #ddd;
  transform: scale(1.1); /* Scale effect on hover */
}
